<div id={{id}} class="ui modal">
    <i class="close icon"></i>
    <div class="header">Donate bitcoins</div>
    <div class="image content">
        <div class="ui medium image">
            <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:{{wallet}}"/>
            <div class="wallet-number">{{wallet}}</div>
        </div>
        <div class="description">
            <div class="ui header">Scan this QR with your wallet application</div>
            <p>
                Please feel free to donate us any amount you want.
                <div class="ui raised segment">
                    <div class="image-container">
                        <img src="{{bitcoinImg}}"  />
                    </div>
                    <p>
                        Bitcoin is a consensus network that enables a new payment system and a completely digital money. From a user perspective, Bitcoin is pretty much like cash for the Internet.<br/>
                    </p>
                    <p>
                        Find more about bitcoin <a href="https://bitcoin.org/" target="_blank">here</a>.
                    </p>
                </div>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <p>
            If you don't have a bitcoin wallet, don't worry, you can create one for free at <a href="http://www.Coinmama.com/?ref=indexomega" target="_blank">CoinMama</a>.
        </p>
    </div>
</div>
